.image{
    width: 100%;
    height: 100%;
    position: fixed;
}

.nav{
    background-color: rgb(56, 160, 225);
    width: 100%;
    height: 8%;
  }
.card{
    width: 40%;
    height: 60%;
    margin-top: 5%;
    margin-left: 8%;
    position: fixed;
    background-color: #ffffff00;
    border: none !important;
    box-shadow: none;
}
.login{
    color: rgb(0, 0, 0);
    margin-left: 13%;
    margin-bottom: 5%;
    margin-top: 2%;
}
a{
    text-decoration: none;
}
h1{
    color: rgb(0, 0, 0);
    /* position:absolute; */
    margin-top: 2%;
    margin-left: 2%;
    font-size: 280%;
    font-family: Rockwell; 
    font-weight: bold;
}
mat-label{
    color: rgba(0, 0, 0, 0.650)
}
.input{
    width: 80%;
    margin-left: 12%;
    border-radius: 10rem;
}
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
    color: rgb(177, 177, 177);
}
.password{
    width: 40%;
    margin-left: 12%;
}
.cpassword{
    width: 40%;
}
mat-radio-group{
    margin-top: 2%;
    margin-left: 12%;
    color: rgb(0, 0, 0);
}
.radio-group{
    font-weight:500;
    font-size:x-large; 
    margin-right:10%;
    color: rgb(0, 0, 0);
}
mat-radio-button{
    margin-left: 10%;
}
button{
    border-radius: 3rem;
    margin-top: 5%;
    margin-left: 13%;
    color: white;
    background-color:rgb(10,149,255);
    height: 45px;
    width: 30%;
    font-size: large;
}
.example-section {
    margin-top: 5%;
    margin-left: 13%;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  .logo{
    margin-left: 2%;
    width: 60px;
  }
  .email{
    width: 40%;
    margin-left: 12%;
}
.mobileNo{
    width: 40%;
}