<!-- <div class="body">
    <mat-card>
        <mat-card-content>
            <table>
                <tr  class="heads">
                  <th>Services</th>
                  <th>Details</th>
                  <th>Prices</th>
                </tr>
              
                <tr>
                  <td>Additional Charge for Backstage Hero for Signature & Luxury Faci</td>
                  <td>14:55-15:15 (Abdul Stylist)</td>
                  <td>₹1770</td>
                </tr>
              </table>
            </mat-card-content>
    </mat-card>
    <div class="buttons">
      <button (click)="onSubmit()" mat-raised-button class="payBtn">Pay</button>
      <button mat-raised-button class="cancelBtn">Cancel</button>

    </div>

</div> -->
